@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Respect the following terms of Privacy Policy:</p>
<p>
    <div class="rules">1. rule</div>
    <img width= "400" height="215" src="~/img/privacy.jpg">
</p>
<p>
    <div class="rules">2. rule</div>
    <img width= "400" height="215" src="~/img/privacy2.jpg">
</p>
<p>
    <div class="rules">3. rule</div>
    <img width= "400" height="215" src="~/img/privacy3.jpeg">
</p>